@import "../../shared/scss/variables";
.feed {
    max-width: 50em;
    margin: auto;
    padding: 1em;
    padding-bottom: 3em;
    text-align: center;

    @media (max-width: 800px) {
        max-width: 100%;
    }

    &__post {
        text-align: initial;
        background-color: $light;
        border-radius: 0.4em;
        margin: 1em 0;
        box-shadow: 0 1px 3px rgba($dark, 0.12), 0 1px 2px rgba($dark, 0.24);
        overflow: hidden;

        &__divider {
            border: none;
            border-top: solid 1px $dark;
        }

        &__username {
            line-height: 1em;
            padding-bottom: 0.4em;
            background: $primary-gradient;
            padding: 0.8em;
            pointer-events: none;
        }

        &__body {
            padding: 0.8em;

            &__title {
                font-weight: bold;
            }

            &__content {
            }
        }
    }
}
