$primary1: hsla(29, 92%, 70%, 1);
$primary2: hsla(0, 87%, 73%, 1);
$primary-gradient: linear-gradient(90deg, $primary1 0%, $primary2 100%);
$light: #fff;
$dark: #111;
$background: $light;
$offset: #f2f2f2;
$font-family: "Nunito", sans-serif;
