@import "../../shared/scss/variables";
#nav {
    background-color: $light;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0.2em 0.5em rgba($dark, 0.1);
    .navbar {
        max-width: 50em;
        margin: auto;
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media (max-width: 800px) {
            max-width: 100%;
        }
        #logo {
            font-weight: 900;
            flex: 1 9999 0%;
            p {
                margin: 0;
                background: $primary-gradient;
                -webkit-text-fill-color: transparent;
                color: transparent;
                background-clip: text;
            }
        }

        #nav-container {
            flex: 1 0 0%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .inner {
                padding-left: 2em;
                display: flex;
                .button {
                    flex: 1;
                    background: none;
                    border: none;
                    appearance: none;
                    padding: 0.5em;
                    width: 2.5em;
                    height: 2.5em;
                    border-radius: 100vh;
                    font-size: 1em;
                    display: grid;
                    place-content: center;
                    color: $dark;
                    &:hover {
                        background: rgba($primary1, 0.1);
                        color: $primary2;
                    }
                    &.active {
                        background: rgba($primary1, 0.3);
                        color: $primary2;
                    }

                    &:not(:first-child) {
                        margin-left: 1em;
                    }
                }
            }
        }
    }
}
